$bg-color: yellow;
$border-color: red;
$dark-blue: #005D6E;
$light-blue: #42A5B3;

.title {
  font-size: 2rem;
  text-align: center;
}

.filter-year {
  display: flex;
  align-items: center;

  .label {
    margin-right: 20px;
    font-weight: bold;
  }
}

.Dropdown-root {
  max-width: 100px;
  
  .Dropdown-control {
    cursor: pointer;
  }
}

.map {
  margin-top: 50px;
  stroke: black;

  .city {
    fill: $dark-blue;
    stroke: #999999;
    stroke-width: 2;

    &:hover {
      opacity: .25;
      cursor: pointer;
    }
  }
}

