@import "react-dropdown/style";
@import "react-tabs/style/react-tabs.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$dark-blue: #005D6E;
$green-color: #5C8100;
$brown-color: #7C715E;

body {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.filter-year {
  display: flex;
  align-items: center;

  .label {
    margin-right: 20px;
    font-weight: bold;
  }
}

.Dropdown-root {
  max-width: 100px;
  font-family: initial;
  
  .Dropdown-control {
    cursor: pointer;
  }
}

.map {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    stroke: black;

    .city {
      fill: $dark-blue;
      stroke: #999999;
      stroke-width: 2;

      &:hover {
        opacity: .25;
        cursor: pointer;
      }
    }
  }
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mark {
    fill: $green-color;
  }

  line {
    stroke: $brown-color;
  }

  text {
    fill: $brown-color;

    &.middle {
      text-anchor: middle;
    }

    &.axis-label {
      font-size: 1.5em;

      &.vertical {
        text-orientation: mixed;
      }
    }
  }
}

