$bg-color: yellow;
$border-color: red;
$dark-blue: #005D6E;
$light-blue: #42A5B3;


.map {
  stroke: black;

  .city {
    fill: $dark-blue;
    stroke: #999999;
    stroke-width: 2;

    &:hover {
      opacity: .25;
      cursor: pointer;
    }
  }
}